# These users will be requested for review on changes to these files.
# Add yourself if you want to be a code owner.

/                              @JuicyLies
/src/shared/PolicyEngine.js    @JuicyLies
/src/background/background.js  @JuicyLies
/src/content/content.js        @JuicyLies
/src/popup/popup.js            @JuicyLies
/package.json                  @JuicyLies
/webpack.config.js             @JuicyLies